body {
    margin: 0;
}

/*body {
    cursor: none;
}*/

.custom-cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 6px solid rgb(255, 0, 0);
    background-color: transparent;
    pointer-events: none;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    border: 2px solid blue;
    position: absolute;
    top: 65px;
    right: 25px;
    height: 40px;
    width: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    transition: 1s;
}

input {
    display: none;
}

.circle {
    position: absolute;
    height: 34px;
    width: 34px;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    background-color: rgb(20, 39, 46);
    transition: .5s;
}

.input:checked+.label {
    background-color: rgb(20, 39, 46);

}

.input:checked+.label .circle {
    background-color: rgb(255, 255, 255);
    transform: translateX(40px);
}

/* Hide the default cursor shape */
/*body,
a,
label,
button {
    cursor: none !important;
}*/

.ring {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    width: 10px;
    border: 4px solid rgb(255, 0, 0);
    background-color: transparent;
    border-radius: 50%;
}

.focus {
    height: 3px;
    width: 3px;
    background-color: #ff0000;
    border-radius: 50%;
}


.main {
    display: flex;
    flex-direction: column;
}

.top-container {
    background-image: url('pexels-pixabay-268533.jpg');
    background-size: cover;
    background-color: #353535;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

}

.top-container h1 {
    margin-top: 7%;
    padding-top: 2%;
    color: white;
    font-size: 450%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.top-container h2 {
    color: white;
    font-size: 200%;
    padding-bottom: 1%;
}


.title3 {
    color: #2600fc;
    font-size: 150%;
    margin-right: 15%;
}

.topboxes {

    display: flex;
    justify-content: space-between;
}

.leftbox,
.rightbox {
    font-size: 140%;
    color: rgb(255, 255, 255);
    width: 35%;
    border-radius: 1rem;

}
.designs{
    display: none;
    border: none;
}



.topboxes div p {
    font-family: 'Arial Narrow Bold';
    color: #ffffff;
    text-align: left;
    padding-left: 40px;
}


.navbar {
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: background-color 0.8s;
    z-index: 50;
}  

.navbar img {
    width: 25%;
    height: auto;
    padding: 0 20px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar ul li a {
    text-decoration: none;
    margin: 0 25px;
    color: rgb(255, 255, 255);
    font-family: cursive;
    font-size: 20px;
}

.navbar ul li a:hover {
    color: red;
}

.navbar.active {
    background-color:rgba(64, 55, 184, 0.6);
}

.navbar.active ul li a {
    color: white;
}

/*................................page 2 code begins................................*/

.projects {
    /* background-color: #353941;*/
    background-color: rgb(20, 39, 46);
    box-shadow: inset 5px 5px 20px 20px rgba(0, 0, 0, 0.8);

}

.page-subheader {
    text-align: center;
    padding: 2rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 350%;

}

.page2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.project {
    margin-bottom: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project label {
    padding: 4px;
    font-size: 140%;
    color: #888787;
    font-family: 'Times New Roman', Times, serif;
}

.link-div {
    position: relative;
    overflow: hidden;
    background-color: white;
    transition: height 0.5s ease;
    height: 250px;
    width: 350px;
    box-shadow: 0px 5px 5px 15px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
}

.link-div .curtain {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.93);
    transition: transform 2s ease;
}

.link-div .curtain.left {
    left: 0;
    transform-origin: left;
}

.link-div .curtain.right {
    right: 0;
    transform-origin: right;
}

.link-div.open .curtain.left {
    transform: scaleX(0);
}

.link-div.open .curtain.right {
    transform: scaleX(0);
}

.view-button {
    height: 30px;
    width: 60px;
    border: none;
    border-radius: 6px;
    background-color: #5035FF;
    color: white;
    font-size: 1.2rem;
    font-family: 'Karla', sans-serif;
    transition: transform 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.view-button:focus {
    outline: none;
}

.view-button:active {
    box-shadow: inset 5px 5px 5px -3px rgba(0, 0, 0, 0.7);
    transform: translateY(2px);
    transform: scale(0.95)
}



.service {
    width: 100%;
    padding: 10px 0px;
    background-color: rgba(20, 39, 46);
    box-shadow: inset 5px 5px 20px 20px rgba(0, 0, 0, 0.8);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 60px;
    width: 335px;
    padding: 20px 35px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin: 0px 15px;
    text-align: center;
    transition: 2.5s;
    font-family: 'Arial Narrow';
    letter-spacing: 1px;

}

.service:hover {
    .card {
        height: 400px;
    }
}

.cardheight{
      height: 400px;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #8a8a8a;
}

h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}


.pra p {
    color: lightgrey;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    background-color: #0400ff;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 6px 8px;
    border-radius: 30px;
    transition: .4s;
    font-size: 70%;
}

.card .button:hover {
    background-color: transparent;
    border: 2px solid #3700ff;
    cursor: pointer;
}

.contact-me {
    width: 100%;
    height: 290px;

    justify-content: center;
    background-image: url("cofee.jpg");
  background-size: cover;
  background-attachment: fixed;
     background-color: #26282B;
}
.darkerhire{
    height: 290px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);

}

.contact-me p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-me .button-two {
    background-color: #0400ff;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.contact-me .button-two:hover {
    background-color: transparent;
    border: 2px solid #2600fc;
    cursor: pointer;
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social {
    display: flex;
  }
  
  .social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 22px 10px;
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(0, 17, 255);
    color: rgb(241, 0, 0);
    overflow: hidden;
  }
  
  .social a .icon-image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
  }
  
  

.social a:hover {
    transform: scale(1.3);
    transition: .3s;
}

.end {
    position: absolute;
    color: #8a8a8a;
    bottom: 35px;
    font-size: 14px;
}



footer {
    background-color: rgb(20, 39, 46);
    box-shadow: inset 5px 5px 20px 20px rgba(0, 0, 0, 0.8);
}
.designs2{
    display: none;
}

/*tabs section begins*/
.tabs {
    Font-family: sans—serif;
    background-image: url("f.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-color: #26282B;
    color: rgb(78, 78, 78);

}
.one{
    background-image: url("armourycoaching.jpg");
    background-size: cover;
}
.two{
    background-image: url("poetic.jpg");
    background-size: cover;
}
.three{
    background-image: url("spencer\ panels.jpg");
    background-size: cover;
}
.four{
    background-image: url("toyotadealer\ website.jpg");
    background-size: cover;
}
.five{
    background-image: url("welderengineering.jpg");
    background-size: cover;
}
.six{
    background-image: url( "simple\ personal\ website.jpg");
    background-size: cover;
}


.tabs img {
    display: block;
    border-radius: 0.5rem;
     width: 100%;
     object-fit:contain;
    height: 30rem;
    padding-bottom: -10px;
    background-color: rgb(37, 138, 233);

}

.all {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    min-width: 340px;
    padding: 5rem 0;
}

.rightside {
    background-color: rgb(20, 39, 46);
    box-shadow: inset 5px 5px 20px 20px rgba(0, 0, 0, 0.8);
    border-radius: 0.5rem;
    grid-template-rows: auto 1fr;
    color: white;

}

.buttons button {
    padding: 1rem 0;
    border: none;
    font-size: 1rem;
    background: #407df8;
    cursor: pointer;
    transition: all 0.3s linear;
    letter-spacing: .25rem;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

button:nth-child(1) {
    border-top-left-radius: 0.5rem;
}

button:nth-child(3) {
    border-top-right-radius: 0.5rem;
}

.buttons button:hover:not(.live) {
    background: #646464;
    color: white;

}

.contentbox .content {
    padding: 0.5rem 0.5rem;
    text-align: center;
}

.content p {
    padding: 0px 25px;
    font-size: 150%;
    font-family: 'Arial Narrow';
    letter-spacing: 1px;
    line-height: 120%;
    color: #8a8a8a;
}

.requests {
    font-size: 200%;
    color: #8a8a8a;
    font-family: Arial, Helvetica, sans-serif;
}

.requests {
    font-size: 20px;
    padding-left: 2rem;
    text-align: center;
    padding-right: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.requests {
    text-shadow: 0px 2px rgb(27, 126, 27);
    color: #b9b7ca;
}

.contact-me p {
    max-width: 70%;
    text-shadow: 0px 4px 5px rgba(231, 0, 0, 0.5);
    font-size: 300%;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*...................................DARKMODE CODE BEGINS................................................*/

.activated {
    .darkerhire{
        background-color: rgba(145, 153, 226, 0.8);
    }
    .animation1,.animation2{
        background-color: rgb(171, 178, 207);
        box-shadow:inset 3px 5px 7px 7px rgba(0, 0, 0, 0.9);
        border-radius: 1rem;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .contact-me p{
        color: #000000;
    }
    .navbar.active{
        background-color:rgba(3, 255, 108, 0.5)
    }
    .top-container {
        background-color: rgb(183, 195, 248);
        background-image: none;
        box-shadow: none;
    }
    .designs{
        position: absolute;
        display: flex;
        width: fit-content;
        height: fit-content;
        left: 30%;
        top: 80%;
        margin-bottom: 4rem;
        z-index: 3;

    }
    .img{
        height: 20vw;
        box-shadow:inset 3px 5px 7px 7px rgba(0, 0, 0, 0.9);

    }

    .projects h2{
        position: relative;
        margin-top: 8rem;
        z-index: 20;
    }
    .leftbox{
        position: relative;
        z-index:6;
    }
    .card{
        background-color: #cedefd;
    }
    .pra p{
        color: #000000;
    }
    .service h5{
        color: #0400ff;
    }
    .project label{
        font-family: 'Times New Roman', Times, serif;
        color: rgb(0, 0, 0);
        font-weight: bold;
    }

    .top-container h1,
    h2 {
        color: black;
    }
    
    .top-container h2 {
        color: #0400ff;
    }

    .topboxes p {
        color: black;
        text-shadow: 0px 2px 2px rgb(255, 255, 255);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
     .content h3{
        color: #1100ff;
     }
    .title3 {
        color: black;
    }
    .content p{
        color: #26282B;
    }

    .service,
    .projects,
    footer,
    .rightside,.tabs{
        background-color: rgb(183, 195, 248);

        box-shadow: none
    }
    .tabs{
        background-image: none;
    }

    .project {
        background-color: rgb(138, 179, 241);
    }

}



@media (min-width: 992px) {
    img {
        margin-bottom: 0rem;
    }

    .all {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}

.content {
    display: none;
}

.content.live {
    display: block;
}

.buttons button.live {
    background-color: transparent;
    color: white;
}

@media screen and (max-width: 800px) {

    .topboxes{
        position: relative;
        margin-left: 5%;
        width: 90%;
    }
    .activated.projects h2{
        margin-top: 2rem;
    }

    .designs2{
        display: flex;
        margin: bottom 3rem;
        justify-content: center;
     }
     .designs2 .img{
        width: 90vw;
        min-height: 30vh;

     }
     .designs2 .img{
        max-width: 380px;
    }
    .activated.designs{
        display: none;
    }
    
    .label {
        top: 10px;
        right: 5px;
        height: 24px;
        width: 60px;
        border-radius: 12px;
    }

    .input:checked+.label .circle {
        transform: translateX(35px);
    }

    .circle {
        height: 22px;
        width: 22px;
        top: 1px;
        left: 1px;
    }


    .navbar {
        display: none;
    }

    .top-container h1 {
        font-size: 40px;
    }

    .top-container h2 {
        font-size: 25px;
    }

    .top-container {
        flex-direction: column;
        background-color: rgb(20, 39, 46);
        box-shadow: inset 5px 5px 20px 20px rgba(0, 0, 0, 0.8);
        background-image: none;
    }

    .topboxes {
        flex-direction: column;
    }

    .title3 {
        padding-left: 12px;
    }

    .leftbox,
    .rightbox {
        width: 100%;
        text-align: left;
    }
    .tabs img{
        margin-bottom: 3rem;
    }

    .box {
        flex-direction: column;
    }

    .card {
        width: 80%;
    }

    .contentbox p {
        font-size: 25px;
    }

    .pra p {
        font-size: 25px;
    }

    .contact-me p {
        width: 100%;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 28px;
    }

    .contact-me {
        background-position: center;
    }

    .end {
        bottom: 5px;
    }

    .custom-cursor {
        display: none;
    }

    .link-div {
        width: 300px;
    }

    .card .button {
        font-size: 50%;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* CSS rules for screens with a minimum width of 768 pixels and a maximum width of 1024 pixels */
}
@media screen and (min-width:1800px){
    .activated.designs{
        top: 53%;
    }
}
@media screen and (max-width:500px){
    .service :hover {
        .card {
            height: 550px;
        }

}
.cardheight{
    height: 550px; ;
}
}
